<% include partials/header %>

<div class="container pt-4">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-12 text-center mb-1">
      <h3>Our Most Popular Campgrounds!</h3>
    </div>
  </div>

  <div class="row text-center mt-3">
    <% campgrounds.forEach(ele => { %>
    <div class="col-md-3 col-sm-6 no-gutters card-spacing">
      <div class="card h-100 text-center">
        <img src="<%= ele.image %>" class="card-img-top img-fluid img-thumbnail">
        <div class="card-body">
          <h4 class="card-title">
            <%= ele.name %>
          </h4>
				</div>
				<div class="card-footer">
          <a href="/campgrounds/<%= ele._id %>" class="btn btn-primary">More Info</a>
				</div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<% include partials/footer %>
