/* [class*="col-*"], .card-spacing {
  margin-bottom: -3.5rem !important;
} */
[class*="card-img-top"] {
  width: auto;
  height: 20rem;
  object-fit: cover;
}

/* [class*="card"] {
  max-height: 50vh;
} */
